In [1]:
import pandas as pd

# Load the dataset
file_path = 'DATASET/car_prices_dataset.csv'  # Update this path if needed
car_data = pd.read_csv(file_path)

# Display the dataset
car_data.head()  # Show the first 5 rows

         Make      Model  Year  Price  Mileage Manufacture_Date
0  Volkswagen        SUV  2006   8327   113521       2016-12-12
1      Nissan  Hatchback  2019  34768   116378       2007-09-05
2     Hyundai      Sedan  2014  69418    17140       2003-05-11
3       Honda    Minivan  2010  47788     2670       2003-07-08
4  Volkswagen      Coupe  2007  51830    36519       2001-11-20